{% extends 'design.html' %}
{% block userblock %}
{% load static %}
<style>
    body {
        color: blue;
    }

    #customers {
        font-family: Abel;
        border-collapse: collapse;
        color: black;
        margin-top: 50px;
        margin-left: 435px;
        font-size: 24px;
        text-align: center;
        background: #827a68;

    }

    #customers td,
    #customers th {
        border: 1px solid #ddd;
        padding: 18px 37px 10px 20px;


    }



    #customers th {

        text-align: center;


    }

    .imga {
        background: url("{% static 'admin.jpeg' %}");
        background-size: 100% 100%;
        height: -webkit-fill-available;
        width: 100%;
        position: absolute;
    }
</style>


<body>
    <form method="POST">
        {% csrf_token %}
        <div class="">
            <table id="customers">
                <tr>
                    <td>First Name :</td>
                    <td>{{ user.firstname }}</td>
                </tr>
                <tr>
                    <td>Last Name :</td>
                    <td>{{ user.lastname }}</td>
                </tr>
                <tr>
                    <td>Userid :</td>
                    <td>{{ user.userid }}</td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td>{{ user.password }}</td>
                </tr>
                <tr>
                    <td>Phoneno :</td>
                    <td>{{ user.phoneno}}</td>
                </tr>
                <tr>
                    <td>Email :</td>
                    <td>{{ user.email}}</td>
                </tr>
                <tr>
                    <td>Gender :</td>
                    <td>{{ user.gender}}</td>
                </tr>


            </table>
        </div>


    </form>

</body>
{% endblock %}